<!--
  Generated template for the HotOffer page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img src="assets/img/menu.png" class="menu-image">
    </button>
    <ion-title>
      <div><span><img src="assets/img/small-top-logo.png"></span></div>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="page-hotoffers">
  <ion-slides #sliders class="ads-slider">
    <ion-slide>
      <a (click)="categories('0100')">
        <div class="ads-wrapper">
          <div class="ads-box">
          </div>
        </div>
      </a>
      <div class="small-ads-wrapper">
        <a (click)="categories('0200')">
          <div class="left-ads-wrapper">
            <div class="ads-box">
            </div>
          </div>
        </a>
        <div class="right-ads-wrapper">
          <a (click)="categories('0300')">
            <div class="tiny-ads-wrapper1">
              <div class="ads-box">
              </div>
            </div>
          </a>
          <a (click)="categories('0100')">
            <div class="tiny-ads-wrapper2">
              <div class="ads-box">
              </div>
            </div>
          </a>
        </div>
      </div>
      <a (click)="categories('0100')">
        <div class="footer-ads-wrapper">
          <div class="ads-box">
          </div>
        </div>
      </a>
    </ion-slide>
  </ion-slides>
</ion-content>