page-profile {
  .content-wrapper {
    width: 100vw;
    .profile {
      .avatar-image {
        width: 100vw;
        min-height: 25vh;
        border-bottom: 1px solid color($colors, light);
        .avatar-container {
          width: 100vw;
          height: auto;
          left: 0;
          right: 0;
          transform: translateX(calc((100vw - 100px)/2));
        }
        .avatar-cropper {
          margin-top: 5vh;
          margin-bottom: 5vh;
          display: inline-block;
          position: relative;
          overflow: hidden;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
          border: 1px solid color($colors, lightdark);
          width: 100px;
          height: 100px;
        }
      }
      .info-list {
        margin-top: 1vh;
        border: none;
        .info-icon {
          color: color($colors, primary);
          font-size: 2.5rem;
        }
        .info-detail {
          font-size: 1.36rem;
          font-weight: 350;
        }
      }
      .info-list .item {
        border: none;
        height: 9vh;
        border-bottom: 1px solid color($colors, light);
      }
      .info-list .item .item-inner {
        border: none;
      }
    }
    .order {
      width: 100vw;
      min-height: 90vh;
      .order-list {
        border: none;
        .date {
          font-size: 1.46rem;
          font-weight: 400;
        }
        .order-number {
          margin-top: 5px;
          font-size: 1.36rem;
          font-weight: 300;
        }
        .processing {
          font-size: 1.36rem;
          font-weight: 400;
          color: color($colors, processing);
        }
        .delivered {
          font-size: 1.36rem;
          font-weight: 400;
          color: color($colors, secondary);
        }
      }
      .order-list .item {
        border: none;
        height: 10vh;
        border-bottom: 1px solid color($colors, light);
      }
      .order-list .item .item-inner {
        border: none;
      }
    }
    .wishlist {
      width: 100vw;
      min-height: 90vh;
      .cart-list {
        border: none;
        .cart-list-item {
          ion-thumbnail {
            border: 1px solid color($colors, light);
            width: 86px;
            height: 86px;
            img {
              object-fit: cover;
              width: 86px;
              height: 86px;
            }
          }
          h2 {
            font-size: 1.36rem;
            font-weight: 300;
          }
          .size {
            font-size: 1.16rem;
            font-weight: 300;
            .color {
              margin-left: 5vw;
            }
          }
          .price-wrapper {
            padding-top: 1vh;
            .price {
              font-size: 1.68rem;
              font-weight: 500;
              color: color($colors, primary);
              display: inline-block;
            }
            .old-price {
              margin-left: 3vw;
              margin-top: 3px;
              font-size: 1.26rem;
              font-weight: 400;
              color: color($colors, lightdark);
              text-decoration: line-through;
              position: absolute;
              display: inline-block;
            }
          }
          .add-button {
            margin-top: 2vh;
            text-transform: uppercase;
            font-size: 1rem;
            color: color($colors, secondary);
            padding: 0 10px 0 10px;
            border: 1px solid color($colors, secondary);
          }
          .none-button {
            font-size: 1rem;
            padding: 0 10px 0 10px;
          }
          .right-bag {
            width: 18vw;
            top: 5px;
            right: 5px;
            position: absolute;
            text-align: right;
            font-size: 0.86rem;
            .available {
              color: color($colors, secondary);
              font-weight: 400;
            }
            .notavailable {
              color: color($colors, danger);
              font-weight: 400;
            }
          }
        }
        .actiion-button {
          button {
            width: 18vw;
          }
        }
      }
      .cart-list .item {
        border: none;
        border-bottom: 1px solid color($colors, lightdark) !important;
      }
      .cart-list .odd {
        background-color: color($colors, light) !important;
      }
      .cart-list .item:first-child {
        border: none !important;
        border-bottom: 1px solid color($colors, lightdark) !important;
      }
      .cart-list .item:last-child {
        border: none !important;
        border-bottom: 1px solid color($colors, lightdark) !important;
      }
      .cart-list .item .item-inner {
        border: none;
      }
    }
    .address-container {
      .address-list {
        .address-list-item {
          h2 {
            font-size: 1.36rem;
            font-weight: 400;
          }
          .detail {
            width: 80vw;
            font-size: 1.1rem;
            font-weight: 300;
          }
          .right-bag {
            width: 18vw;
            top: 0;
            right: 5px;
            position: absolute;
            display: inline-block;
            text-align: right;
            button {
              margin: -10px 0 0 0;
              padding: 0 0 0 0;
              font-size: 0.86rem;
            }
          }
        }
      }
    }
  }
}
