<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <img src="assets/img/menu.png" class="menu-image">
    </button>
    <ion-title>
      <div><span><img src="assets/img/small-top-logo.png"></span></div>
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content class="page-home pane no-scroll">
  <ion-slides #sliders class="ads-slider" pager (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let slide of adsSliders">
      <img [src]="slide.image">
      <a (click)="categories(slide.category)">
      <div class="ads-wrapper">
        <div class="ads-box">
          <div class="ads-title" [innerHTML]="slide.title"></div>
          <div class="ads-description">{{slide.description}}</div>
        </div>
      </div>
      </a>
      <div class="fade-away"></div>
    </ion-slide>
  </ion-slides>
  <div class="small-ads-wrapper">
    <div class="left-ads-wrapper">
      <div class="ads-box" [style.backgroundImage]="smallAds[adsCount][0].image">
        <div class="ads-box-title">
          <button class="ads-button" ion-button small clear (click)="categories('0300')">{{smallAds[adsCount][0].title}}</button>
        </div>
      </div>
    </div>
    <div class="right-ads-wrapper">
      <div class="tiny-ads-wrapper1">
        <div class="ads-box" [style.backgroundImage]="smallAds[adsCount][1].image">
          <div class="ads-box-title">
            <button class="ads-button" ion-button small clear (click)="categories('0100')">{{smallAds[adsCount][1].title}}</button>
          </div>
        </div>
      </div>
      <div class="tiny-ads-wrapper2">
        <div class="ads-box" [style.backgroundImage]="smallAds[adsCount][2].image">
          <div class="ads-box-title">
            <button class="ads-button" ion-button small clear (click)="categories('0200')">{{smallAds[adsCount][2].title}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>