<!--
  Generated template for the Categories page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{menus.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="filterModal()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <scroll-tabs *ngIf="show" #scrollTab [tabs]="tabs" (onSelectedTab)="tabChange($event)"></scroll-tabs>
</ion-header>


<ion-content class="page-categories">
  <div [ngSwitch]="selectedTab" (swipe)="swipeEvent($event)">
    <div *ngFor="let tab of tabs; let i = index">
      <ion-scroll scrollY="true" class="content-wrapper" *ngSwitchCase="tabs[i]">
        <div *ngIf="categories">
          <div class="card9-container" *ngFor="let product of products | byCategory: categories[i]">
            <div class="pic-box" (click)="toProduct(product)">
              <img [src]="product.image">
            </div>
            <div class="title">
              {{product.name}}
            </div>
            <div class="price-box">
              <span class="price">₹ {{product.price - product.discount}}<span class="old-price">₹ {{product.price}}</span></span>
              <span class="price-love" [class.selected]="product.love">
                <ion-icon name="heart"></ion-icon>
              </span>
            </div>
          </div>
        </div>
      </ion-scroll>
    </div>
  </div>
</ion-content>
