page-search {
  .result-list {
    width: 100vw;
    min-height: 90vh;
    .cart-list {
      border: none;
      .cart-list-item {
        ion-thumbnail {
          border: 1px solid color($colors, light);
          width: 86px;
          height: 86px;
          img {
            object-fit: cover;
            width: 86px;
            height: 86px;
          }
        }
        a {
          color: color($colors, dark);
          h2 {
            font-size: 1.36rem;
            font-weight: 300;
            margin-bottom: 1vh;
            span {
              font-weight: 500;
              color: color($colors, secondary);
            }
          }
        }
        .size {
          font-size: 1.16rem;
          font-weight: 300;
          margin-bottom: 0.5vh;
          .color {
            margin-left: 5vw;
          }
        }
        .price-wrapper {
          padding-top: 1vh;
          .price {
            font-size: 1.68rem;
            font-weight: 500;
            color: color($colors, primary);
            display: inline-block;
          }
          .old-price {
            margin-left: 3vw;
            margin-top: 3px;
            font-size: 1.26rem;
            font-weight: 400;
            color: color($colors, lightdark);
            text-decoration: line-through;
            position: absolute;
            display: inline-block;
          }
        }
        .add-button {
          margin-top: 2vh;
          text-transform: uppercase;
          font-size: 1rem;
          color: color($colors, secondary);
          padding: 0 10px 0 10px;
          border: 1px solid color($colors, secondary);
        }
        .none-button {
          font-size: 1rem;
          padding: 0 10px 0 10px;
        }
        .right-bag {
          width: 18vw;
          top: 5px;
          right: 5px;
          position: absolute;
          text-align: right;
          font-size: 0.86rem;
          .available {
            color: color($colors, secondary);
            font-weight: 400;
          }
          .notavailable {
            color: color($colors, danger);
            font-weight: 400;
          }
        }
      }
      .actiion-button {
        button {
          width: 18vw;
        }
      }
    }
    .cart-list .item {
      border: none;
      border-bottom: 1px solid color($colors, lightdark) !important;
    }
    .cart-list .odd {
      background-color: color($colors, light) !important;
    }
    .cart-list .item:first-child {
      border: none !important;
      border-bottom: 1px solid color($colors, lightdark) !important;
    }
    .cart-list .item:last-child {
      border: none !important;
      border-bottom: 1px solid color($colors, lightdark) !important;
    }
    .cart-list .item .item-inner {
      border: none;
    }
  }
}
