<!--
  Generated template for the Mycart page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img src="assets/img/menu.png" class="menu-image">
    </button>
    <ion-title>
      Shopping bag
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="page-mycart">
  <div class="no-items" *ngIf="cart.products.length === 0">
    <div class="title">
      No Item in Cart
    </div>
    <div class="no-items-image">
      <img src="assets/img/thankyou.png">
    </div>
    <div class="no-items-round">
      <button ion-button clear (click)="shopping()">Continue Shopping</button>
    </div>
  </div>
  <ion-list class="cart-list">
    <ion-item-sliding *ngFor="let item of cart.products; let i = index;">
      <ion-item class="cart-list-item" [class.odd]="i%2!==0">
        <ion-thumbnail item-left>
          <img [src]="item.product.image">
        </ion-thumbnail>
        <h2>{{item.product.name}}</h2>
        <div class="size">Size: {{item.size}} <span class="color">Color: {{item.color}}</span></div>
        <div class="price-wrapper">
          <div class="price">₹ {{item.product.price - item.product.discount}}</div>
          <div *ngIf="item.product.discount>0" class="old-price">₹ {{item.product.discount}}</div>
        </div>
        <div item-right class="right-bag">
          <div class="right-button">
            <button ion-button clear (click)="incQty(item)">
            <ion-icon class="add" name="add"></ion-icon>
          </button>
          </div>
          <div class="right-quantity">
            {{item.quantity}}
          </div>
          <div class="right-button">
            <button ion-button clear icon-only (click)="decQty(item)">
            <ion-icon name="remove"></ion-icon>
          </button>
          </div>
        </div>
      </ion-item>
      <ion-item-options class="actiion-button" side="left">
        <button ion-button icon-only>
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options class="actiion-button" side="right">
        <button ion-button icon-only color="danger">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div class="place-order-wrapper" *ngIf="cart.products.length>0">
    <div class="place-order-round">
      <div class="place-order">
        <button ion-button clear (click)="placeOrder()">Place this order</button>
      </div>
      <div class="order-price">
        ₹ {{cart.total()}}
      </div>
    </div>
  </div>
</ion-content>